<div id="title-container-wrapper" >
    <div id="title-container-padder" >

    </div>
    <div id="title-container" >
        <img id="title-profile-photo" src="../../assets/profile-photo.png">
        <div id="title-text-content" >
            <div id="title-tag" >
                <h3>UI/UX design process</h3>
            </div>
            <div id="title-main" >
                <h1 id="title-title">Free your data.</h1>
                <h2 id="title-subtitle">A case study</h2>
            </div>
        </div>
    </div>
</div>

