
<div id="main-title-container" class="hasBackground">
    <app-title></app-title>
</div>
<div id="title-placeholder-for-spacing">
    <app-title></app-title>
</div>
<div id="main-content-container" class="hasBackground">
    <app-titled-paragraph [title]="'Understand the problem'">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </app-titled-paragraph>

    <div id="meet-the-users-container">
        <app-titled-paragraph [title]="'Meet the users'">
            Flip through the different persona cards to see what potential users had in mind.
        </app-titled-paragraph>
        <app-persona-card></app-persona-card>
    </div>
    
</div>

