
.persona-container {
    width: 90vw;
    background-color: #2C2C2C;
    .persona-top-half {
        border-bottom: 2px solid #5A5A5A;
        margin: 0;
    }
    .persona-bottom-half {
        margin: 0;
        p {
            font-style: italic;
        }
    }
}