<div class="persona-container">
    <div class="persona-icon-container">
        
    </div>
    <div class="persona-text-container">
        <div class="persona-top-half row">
            <span class="col-3"></span>
            <h4 class="col-9">A software engineer</h4>
        </div>
        <div class="persona-bottom-half row">
            <span class="col-3"></span>
            <p class="p-quote col-9">"I want to have fine grain control over how my data is being used. Maybe a customizable policy?</p>
        </div>
    </div>
</div>