
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FYDCaseStudy-WebApp-primary: mat-palette($mat-indigo);
$FYDCaseStudy-WebApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FYDCaseStudy-WebApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$FYDCaseStudy-WebApp-theme: mat-light-theme($FYDCaseStudy-WebApp-primary, $FYDCaseStudy-WebApp-accent, $FYDCaseStudy-WebApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FYDCaseStudy-WebApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #1B1B1B;
}

h1 {
    font-weight: normal;
    font-size: calc(18pt + (72 - 18) * ((100vw - 300px) / (1600 - 300)));
}
h2 {
    font-size: calc(16pt + (48 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: lighter;
    
}
h3 {
    font-size: calc(12pt + (32 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: normal;
}
h4 {
    font-size: calc(12pt + (32 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: lighter;
}
p {
    font-size: calc(11pt + (28 - 11) * ((100vw - 300px) / (1600 - 300)));
    font-weight: normal;
}


* {
    color: #707070;
    box-sizing: border-box;
}
.debug {
    border: red thin solid;
}