/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fafafa,
    100 : #f3f3f3,
    200 : #ebebeb,
    300 : #e2e3e3,
    400 : #dcdddd,
    500 : #d6d7d7,
    600 : #d1d3d3,
    700 : #cccdcd,
    800 : #c6c7c7,
    900 : #bcbebe,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #707070,
        100 : #707070,
        200 : #707070,
        300 : #707070,
        400 : #707070,
        500 : #707070,
        600 : #707070,
        700 : #707070,
        800 : #707070,
        900 : #707070,
        A100 : #707070,
        A200 : #707070,
        A400 : #707070,
        A700 : #707070,
    )
);

$md-accent: (
    50 : #ebf5ff,
    100 : #cde6ff,
    200 : #abd5ff,
    300 : #89c4ff,
    400 : #70b8ff,
    500 : #57abff,
    600 : #4fa4ff,
    700 : #469aff,
    800 : #3c91ff,
    900 : #2c80ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d8e7ff,
    A700 : #bed7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-background: (
    50 : #eeeeee,
    100 : #d4d4d4,
    200 : #b8b8b8,
    300 : #9b9b9b,
    400 : #858585,
    500 : #707070,
    600 : #686868,
    700 : #5d5d5d,
    800 : #535353,
    900 : #414141,
    A100 : #f5a9a9,
    A200 : #f07b7b,
    A400 : #ff3a3a,
    A700 : #ff2020,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

